@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

/* COLOR PALLETS
#CCD6A6
#DAE2B6
#F4EAD5
#FFFBE9 */

* {
    margin : 0;
    padding: 0;
   
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #FFFBE9;

}

/* -----------------NAVBAR----------------------- */

nav .container-fluid .navbar-brand {
    color: #617A55;
    font-size: 25px;
}
nav .container-fluid .navbar-brand span {
    color: white;
    font-size: 25px;
    font-weight: 700;
}

nav .container-fluid ul li a {
    font-size: 16px;
    font-weight: 500;
    color: #617A55;
}
nav .container-fluid .text-bg-success{
border-radius: 5px;

box-shadow: 0 10px 15px  rgba(0,0,0,0.25);
}

nav .container-fluid .collapse {
    text-align: center;
}

nav .container-fluid .collapse ul li a:hover {
    color: white;
    }
/* -----------------Article----------------------- */
.article-section{
    margin-top: 100px;
    width: 100%;
    box-sizing: border-box;
}

.article-section .section-content {
    width: 85%;
    margin: 20px auto;
}

.article-section .section-content .title { 
width: 60%;
text-align: center;
margin: auto;
}

.article-section .section-content .title h2 {
    font-size: 40px;
    color: black;
}

.article-section .section-content .title p {
    font-size: 18px;
    color: black;
    margin-top: 20px;

}

.article-section .section-content .wrapper-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin: 25px auto;
}

.article-section .section-content .wrapper-cards .article-cards {
    width: 100%;
    background-color:#F4EAD5 ;
    position: relative;
}


.article-section .section-content .wrapper-cards .article-cards img {
    width: 100%;
    height: auto;
}

.article-section .section-content .wrapper-cards .article-cards .article {
    padding: 15px 20px;
}

.article-section .section-content .wrapper-cards .article-cards .article h4 {
    font-size: 24px;
    color: black;
}
.article-section .section-content .wrapper-cards .article-cards .article p{
    font-size: 16px;
    margin: 10px 0px;
    color: black;
    text-align: justify;
}
.article-section .section-content .wrapper-cards .article-cards a {
    text-decoration: none;
    display: inline-block;
    background-color: #617A55;
    padding: 8px 10px;
    margin-left: 20px;
    color: white;
    margin-bottom: 20px;
}

.article-section .section-content .wrapper-cards .article-cards .posted-date {
    font-weight: 500;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background-color: #617A55;
    padding: 6px 15px;
    
}

.article-section .section-content .wrapper-cards .article-cards .posted-date p {
    font-size: 12px;
    color: #F4EAD5;
    
 }

 @media screen and (max-width:992px ) {
    .article-section .section-content .wrapper-cards{
        grid-template-columns: repeat(2, 1fr);
    }
    
 }
 @media screen and (max-width:768px ) {
    .article-section .section-content .wrapper-cards{
        grid-template-columns: 1fr;
 }
}
