@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}

.register-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background: #FFFBE9;
}

.register-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 850px;
    /* max-height: 510px; */
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.register-body .register-container .register-left {
    width: 500px;
    /* height: 600px; */
}

.register-body /.register-container .register-left .register-forms {
    width: 250px;
    margin: 60px auto;
}

.register-body .register-container .register-left .register-forms .register-title {
    margin: 20px;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
}

.register-body .register-container .register-left .register-hr {
    border-top: 2px solid green;
    margin-bottom: 25px;
}

.register-body .register-container .register-left .register-forms .login{
    text-align: center;
    margin: 10px;
}

.register-body .register-container .register-left .login a{
    text-decoration: none;
    color: darkgreen;
    font-weight: bold;
}

.register-body .register-container .register-right img {
    width: 400px;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.register-body .register-container .register-left .register-forms label {
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
}

.register-body .register-container .register-left .register-forms input {
    width: 90%;
    margin: 6px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid gray;
}

.register-body .register-container .register-left .register-forms button {
    border: none;
    outline: none;
    padding: 8px;
    width: 252px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    background: #DAE2B6;
}

.register-body .register-container .register-left .register-forms button:hover {
    background: #CCD6A6;
    /* display: flex;
    justify-content: center; */
}

.register-body .register-container .register-right {
  position: relative;
}

.register-body .register-container .register-right::before {
    content: "ReGrowth";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

.register-body .register-container .register-left .signin {
    text-align: center;
    margin-top: 10px;
    display: center;
}

.register-body .register-container .register-left .signin a{
    color: green;
    font-weight: bold;
    text-decoration: none;
}

@media (max-width: 880px) {
    .register-body.register-container {
        width: 100%;
        max-width: 750px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .register-body .register-container .register-left .register-forms {
        width: 300px;
        margin: 20px auto;
    }

    .register-body .register-container .register-left {
        width: 400px;
        padding: 20px;
    }

    .register-body .register-container .register-left .register-forms button {
        width: 100%;
    }

    .register-body .register-container .register-right img {
        width: 100%;
        height: 100%;}
    }

@media (max-width: 480px) {
    .register-body .register-container {
      max-width: 350px;
      margin: 0 auto;
      border-radius: 0;
      box-shadow: none;
    }
    
    .register-body .register-container .register-right {
      display: none;
    }
    
    .register-body .register-container .register-left {
      width: 100%;
      padding: 20px;
    }
    
    .register-body .register-container .register-forms {
      width: 100%;
      margin: 20px auto;
    }
    
    .register-body .register-container .register-left .register-forms input, .register-body .register-container .register-left .register-forms button {
      width: 100%;
    }
  }
  